body {
    font-family: Arial, sans-serif;
    background-color: #000000; /* Cor de fundo mais clara */
    }
   
    #form-gastos {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #14a0d8; /* Cor da borda mais clara */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #000000; /* Cor de fundo mais clara */
    }
   
    #form-gastos label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #14a0d8; /* Cor do texto mais escura */
    }
   
    #form-gastos input[type="text"], #form-gastos input[type="number"] {
        width: 80%; /* Reduzi o tamanho para 80% */
        height: 40px;
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #cccccc;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        display: block;
        margin-left: auto;
        margin-right: auto;
       }
   
    #form-gastos button {
    width: 100%;
    height: 40px;
    background-color: #14a0d8; /* Cor do botão mais azul */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
   
    #form-gastos button:hover {
    background-color: #0077b3; /* Cor do botão mais escura */
    }
   
    #lista-gastos {
    list-style: none;
    padding: 0;
    margin: 0;
    }
   
    #lista-gastos li {
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Cor da borda mais clara */
    background-color: #14a0d8; /* Cor de fundo mais clara */
    }
   
    #lista-gastos li:last-child {
    border-bottom: none;
    }
   
    #lista-gastos li:hover {
    background-color: #f2f2f2; /* Cor de fundo mais clara */
    }
   
    #total-gastos {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    color: #14a0d8; /* Cor do texto mais escura */
    }
   
    .titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #14a0d8; /* Cor do texto mais escura */
    }
